#landing{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110vh;
    margin-top: -31px;
    background-image: url(../images/land3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;

}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*STYLING FOR THE ELEMENTS INSIDE THE LANDING PAGE*/
.name{
    color: white;
    font-family: bad-script;
    margin-left: 30%;


}
.fax{
    color: white;
    height: 40px;
    width: 40px;
}
.front{
    color: white;
    font-family: bad-script;
    margin-left: 30%;


}
.mobile{
    color: white;
    font-family: bad-script;
    margin-left: 30%;
    border-bottom: 2px solid white;
    padding-top: 5px;

}
.prof{
    padding-top: 150px;
}
.na{
    color: white;
    padding-left: 40%;
    padding-top: 70px;

}
/*STYLING THE BIO SECTION*/
#bio{
    text-align: center;
    font-size: 20px;
    font-family: architects-daughter;
    background-color: #607D8B;
    height: 100vh;
    padding-top: 160px;
    width: 100%;
}
.chip{
    background-color: #37474F;
    color: #ECEFF1;
}
.center{
    text-align: center;
}
.move-right{
    float: right;
    color: white;
    margin-bottom: 30px;
}

.thumb{
    color: purple;

}
.blue{
    background-color: rgb(0,166,229);
}
.maroon{
    color: maroon;
}


/*Styling the Skills Section*/
#skills{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.col{
    display: inline-block;
}
#fuji{
    width: 100%;
    height: 300px;
    background-image: url(../images/fuji.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.int{
    text-align: center;
    font-family: serif;

}
.speed{
    margin-right: 3px;
}
.white{
    color: white;
    font-family: serif;
}
/*For scrolling the divs horizontaly*/
/*
#Horizontal-scroll{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    white-space: nowrap;
}
*/
/*
.scrolling{
     display: inline-block;
}
*/


/*For the portfolio section*/
#portfolio{
    height: 100vh;
    width: 100%;
    background-color: #BDBDBD;
    margin-top: -27px;
}
#portfolio h2{
    color: white;
    font-family: serif;
}
/*for the footer*/
footer{
 background-color: #263238;
 color: white;
 height: 90px;

}
.footer-copyright{
    padding-top: 10px;
}
/*For navigation*/
/*Css for the Tab layout*/
.port-nav{

}
#portfolio .port-nav ul li a{
    display: block;
    width: 140px;
    height: 25px;
    background-color: firebrick;
    color: white;
    border: 1px solid white;

}
#show-web{
    background-color: firebrick;

}
#show-apps{
    background-color: aliceblue;
}
