#landing{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110vh;
    margin-top: -31px;
    background-image: url(../images/land3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;

}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*STYLING FOR THE ELEMENTS INSIDE THE LANDING PAGE*/
.name{
    color: white;
    font-family: bad-script;
    margin-left: 20%;


}
.fax{
    color: white;
    height: 40px;
    width: 40px;
}
.front{
    color: white;
    font-family: bad-script;
}

.mobile{
    color: white;
    font-family: 'Lora', serif;
    border-bottom: 2px solid white;
    padding-top: 5px;
    margin-left: 40px;

}
h1{
 font-family: 'Lora', serif;
}
.prof{
    padding-top: 150px;
}
.na{
    color: white;
    padding-left: 45%;
    padding-top: 70px;

}
/*STYLING THE BIO SECTION*/
#bio{
    text-align: center;
    font-size: 20px;
    font-family: architects-daughter;
    background-color: #607D8B;
    height: 100vh;
    padding-top: 160px;
    width: 100%;
}
.chip{
    background-color: #37474F;
    color: #ECEFF1;
}
.center{
    text-align: center;
}
.move-right{
    float: right;
    color: white;
    margin-bottom: 30px;
}

.thumb{
    color: purple;

}
.blue{
    background-color: rgb(0,166,229);
}
.maroon{
    color: maroon;
}


/*Styling the Skills Section*/
#skills{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.col{
    display: inline-block;
}
#fuji{
    width: 100%;
    height: 300px;
    background-image: url(../images/fuji.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.int{
    text-align: center;
    font-family: serif;

}
.speed{
    margin-right: 3px;
}
.white{
    color: white;
    font-family: serif;
}
/*For scrolling the divs horizontaly*/
/*
#Horizontal-scroll{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    white-space: nowrap;
}
*/
/*
.scrolling{
     display: inline-block;
}
*/


/*For the portfolio section*/
#portfolio{
    height: 100vh;
    width: 100%;
    background-color: #BDBDBD;
    margin-top: -27px;
}
#portfolio h2{
    color: white;
    font-family: serif;
}
/*for the footer*/
footer{
 background-color: #263238;
 color: white;
 height: 90px;

}
.footer-copyright{
    padding-top: 10px;
}
/*For navigation*/
/*Css for the Tab layout*/
.port-nav{

}
#portfolio .port-nav ul li a{
    display: block;
    width: 140px;
    height: 25px;
    background-color: firebrick;
    color: white;
    border: 1px solid white;

}
#show-web{
    background-color: firebrick;
   padding-top: 150px;

}
#show-apps{
    background-color: aliceblue;
    margin-top: 50px;
    border: 1px solid white;
}

.tabs{
    margin-top: 40px;
    color: white;
    background-color: #AFBFFF;
}
.tabs li a{
    color: white;
    text-decoration: none;
}
/*For image illustrations on portfolio*/
.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*For smaller screens this should come last*/
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
