#landing{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin-bottom: -15px;
    background-image: url(../images/land3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;

}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
myMenu{
    margin-bottom: -370px;
}
/*STYLING FOR THE ELEMENTS INSIDE THE LANDING PAGE*/
.down_arrow{
    align-items: center;
}
#profiling{

}
.name{
    margin-left: -30px;
    font-family: 'Raleway', sans-serif;
}
.fa-angle-down{
    color: white;
    margin-left: -60px;
    padding-top: 100px;
}

.btn{
  background-color: #00BCD4;
}
.Q{
    color: white;
}
/*STYLING THE BIO SECTION*/
#bio{
    text-align: center;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    background-color: #607D8B;
    height: 100vh;
    width: 100%;
}
.fresh{
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}
.chip{
    background-color: #37474F;
    color: #ECEFF1;
}
.center{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/*Styling the Skills Section*/
#skills{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.col{
    display: inline-block;
}
#fuji{
    width: 100%;
    height: 300px;
    background-image: url(../images/fuji.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.int{
    text-align: center;
    font-family: serif;

}
.speed{
    margin-right: 3px;
}
.white{
    color: white;
    font-family: serif;
}
/*For scrolling the divs horizontaly*/
/*
#Horizontal-scroll{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    white-space: nowrap;
}
*/
/*
.scrolling{
     display: inline-block;
}
*/


/*For the portfolio section*/
#portfolio{
    height: 100vh;
    width: 100%;
    background-color: #455A64;
    margin-top: -27px;
}
#portfolio h2{
    color: white;
    font-family: serif;
}
/*Styling for the contact section*/
.input-field label {
     color: #D0F8CE;
   }
/*for the footer*/
#last{
 background-color: #263238;
 color: white;
 overflow: hidden;
 width: 100%;
 margin-top: -40px;
 }

.footer-copyright{
padding-top: 90px;
}
/*For navigation*/
/*Css for the Tab layout*/
#contact{
    height: 80vh;
    width: 100%;
    background-color: #37474F;
}
.cont{

    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: white;
}
.conts{
    margin-left: 267px;
}

.port-nav{

}
#portfolio .port-nav ul li a{
    display: block;
    width: 140px;
    height: 25px;
    color: white;
    border: 1px solid white;

}
#show-web{
    background-color: firebrick;
   padding-top: 150px;

}
#show-apps{
    background-color: aliceblue;
    margin-top: 50px;
    border: 1px solid white;
}

.tabs{
    margin-top: 40px;
    color: white;
    background-color: #AFBFFF;
}
.tabs li a{
    color: white;
    text-decoration: none;
}
/*For image illustrations on portfolio*/
.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*For smaller screens this should come last*/
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
.input-field .prefix.active {
     color: white;
   }
 .input-field input[type=text]:focus + label {
     color: white;
   }
